h1 {
    text-align: center;
}

p{
    margin: 10px;
}

body {
    margin: 0;
    border: 0;
}
.crdLeft {
    display: inline-block;
    vertical-align: top; 
    margin: 0;
    margin-right: 20px;
    
    width: calc(33.33% - 60px); 
    box-sizing: border-box; 
    text-align: left;
}

.crdCenter {
    display: inline-block;
    vertical-align: top; 
    margin: 0;
    margin-left: 0px;
    margin-right: 20px;
    width: calc(33.33% - 60px); 
    box-sizing: border-box; 
    text-align: left;
}

.crdRight {
    display: inline-block;
    vertical-align: top; 
    margin: 0;
    margin-left: 0px;
    width: calc(33.33% - 60px); 
    box-sizing: border-box;     
    text-align: left;
}

#marco {
    background-color: gray;
    border: 1px solid black;
    box-sizing: border-box;
    height: 200px;
    overflow: hidden;
}

p {
    float: left;
}

#h2Chicken {
    background-color: rosybrown;
    border: 1px solid black;
    text-align: center;
    width: 150px;
    float: right;
    margin: 0;
}

#h2Beef {
    background-color: red;
    color: white;
    border: 1px solid black;
    text-align: center;
    width: 150px;
    float: right;
    margin: 0;
}

#h2Sushi {
    background-color: yellow;
    border: 1px solid black;
    text-align: center;
    width: 150px;
    float: right;
    margin: 0;
}

#menu-container {
    text-align: center;
    margin: 0;
    border: 0;
}



@media only screen and (min-width: 768px) and (max-width: 991px) {
    .crdLeft,
    .crdCenter {
        width: calc(50% - 60px); 
        overflow: hidden;
    }
    .crdRight {
        width: calc(100% - 95px); 
        margin-top: 20px;
        margin-right: 20px; 
        overflow: hidden;
    }
}


@media only screen and (max-width: 767px) {
    .crdLeft,
    .crdCenter,
    .crdRight {
        width: calc(100% - 95px); 
        margin-top: 20px;
        margin-right: 20px; 
        overflow: hidden;
    }
}